body, div, p, h1, h2, h3, h4, h5, h6, span, b, i, strong, em, caption, label, svg {
	margin: 0;
	padding: 0;
}

body {
	/*
	font-family: sans-serif;
	font-size: 1em;
	line-height: 2em;
	padding: 1em;
	text-align: center;
	*/
}
form, label, input, select {font-size: 1em;}

